.outerBoxlinkCard {
  display: inline;
}
.innerBoxlinkCard {
  display: grid;
  justify-content: center;
  max-width: 98vw;
  grid-template-columns: 70vw 30vw;
  border-radius: 1rem;
  align-items: center;
  border-color: transparent;
  margin: 15px 10px 15px 10px;
  background-color: rgba(86, 126, 211, 0.89);
}
.linkCardDeleteIcon {
  margin: 10px;
  position: relative;
  cursor: pointer;
}

.innerBoxlinkCard h1 {
  display: inline;
  cursor: pointer;
  text-align: center;
  font-size: clamp(18px, 2vw, 25px);
  color: white;
  padding: 5px 20px 5px 20px;
  font-family: "Space Mono", monospace;
}

.gridview {
  grid-template-columns: 100vw;
}

@media screen and (min-width: 600px) {
  .outerBoxlinkCard {
    display: block;
    width: 40%;
    padding-left: 30%;
  }
  .innerBoxlinkCard {
    display: flex;
  }
  .linkCardDeleteIcon {
    margin: 20px;
  }
}
