.errorMessageH1Collection {
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  font-weight: lighter;
  color: white;
  padding: 2%;
  position: fixed;
  display: inline;
  z-index: 10;
  border-radius: 0.5rem;
  bottom: 5vh;
  right: 5vw;
  max-width: 400px;
  font-family: "Space Mono", monospace;
  animation: errorMessage 1.5s linear 1 alternate;
  position: fixed;
}

.collectionNameH1 {
  font-family: "Secular One", sans-serif;
  font-size: clamp(30px, 2vw, 50px);
  display: block;
  text-align: center;
  color: #3b72ff;
  margin: 40px 0 10px 0;
  padding: 20px 20px 10px 20px;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 10px;
  text-decoration-color: #b34bf8;
}
.collectionNameH4 {
  font-family: "Space Mono", monospace;
  font-size: clamp(20px, 2vw, 40px);
  display: block;
  color: black;
  text-align: center;
  margin: 10px 0 40px 0;
  padding: 20px 20px 10px 20px;
}

.editIcon {
  padding: 0px 10px 0px 10px;
  position: relative;
  top: 3px;
}

.outerBoxCollectionAdd {
  display: inline;
}

.innerBoxCollectionAdd {
  display: grid;

  justify-content: center;
  max-width: 98vw;
  border-radius: 1rem;
  align-items: center;
  border-color: transparent;
  margin: 15px 10px 15px 10px;
  font-size: clamp(18px, 2vw, 25px);

  background-color: white;
}

.innerBoxCollectionAdd h1 {
  display: inline;
  cursor: pointer;
  text-align: center;
  font-size: clamp(18px, 2vw, 25px);
  color: rgba(86, 126, 211, 0.89);
  padding: 10px 20px 10px 20px;
  font-family: "Space Mono", monospace;
}

.innerCollectionScreen {
  padding-bottom: 2%;
}

.collectionButton {
  font-family: "Space Mono", monospace;
  background-color: #3b72ff;
  border-color: #3b72ff;
  padding: 16px 40px;
  margin: 20px 10px 10px 10px;
  border-radius: 0.5rem;
  border-style: solid;
  font-weight: 700;
  font-size: clamp(16px, 2vw, 20px);
  color: #ffffff;
}

.infoBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.countInfo {
  display: inline;
  cursor: pointer;
  text-align: center;
  padding: 16px 50px;
  font-size: clamp(18px, 2vw, 25px);
  color: rgba(86, 126, 211, 0.89);
  font-family: "Space Mono", monospace;
}

.collectionButton:active {
  background-color: #ffffff;
  color: #3b72ff;
}
@media screen and (min-width: 600px) {
  .outerBoxCollectionAdd {
    display: block;
    width: 40%;
    padding-left: 30%;
  }
  .innerBoxCollectionAdd {
    display: flex;
  }
  .linkCardDeleteIcon {
    margin: 20px;
  }

  .infoBox {
    position: fixed;
    display: block;
    top: 40px;
    left: 80%;
    width: 20%;
  }
  .countInfo {
    padding: 16px 30px;
  }
  .collectionButton {
    padding: 16px 30px;
  }
}
